{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">File</label>
                <div class="col-sm-10">
                    <input type="file" name="upload" class="custom-file-input" id="customFile" required>
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                ID
            </div>
            <div class="col">
                Work Days
            </div>
            <div class="col">
                Holidays
            </div>
            <div class="col">
                Saturdays
            </div>
            <div class="col">
                Sundays
            </div>
            <div class="col">
                Sum
            </div>
        </div>
        {% for entry in info %}
            <div class="row">
                <div class="col">
                    {{ entry.id }}
                </div>
                <div class="col">
                    {{ entry.days.workdays }}
                </div>
                <div class="col">
                    {{ entry.days.holidays }}
                </div>
                <div class="col">
                    {{ entry.days.saturdays }}
                </div>
                <div class="col">
                    {{ entry.days.sundays }}
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    {% set w = entry.days.workdays * 1.00 * entry.weight %}
                    {{ w|round(2, 'floor') }}
                </div>
                <div class="col">
                    {% set h = entry.days.holidays * 0.16 * entry.weight %}
                    {{ h|round(2, 'floor') }}
                </div>
                <div class="col">
                    {% set sa = entry.days.saturdays * 1.23 * entry.weight %}
                    {{ sa|round(2, 'floor') }}
                </div>
                <div class="col">
                    {% set su = entry.days.sundays * 0.97 * entry.weight %}
                    {{ su|round(2, 'floor') }}
                </div>
                <div class="col">
                    {{ (w + h + sa + su)|round(2, 'floor') }}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <a href="/export" class="btn btn-info" role="button">Download</a>
            </div>
        </div>
    </div>
{% endblock %}
